.i-name p{
    color: orange;
    
}
.i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
  }

  .i-icons > * {
    transform: scale(0.5);
  }
  .i-icons > *:hover {
    cursor: pointer;
    color: aqua;
  }
  .icons{
    font-size: 70px;
    color: orange;
  }
  .fb:hover{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
  }
  .git:hover{
    padding: 10px;
    border-radius: 10px;
    background-color:black;
    color: white;
    
  }
  .li:hover{
    padding: 10px;
    border-radius: 10px;
    background-color:deepskyblue;
    color: white;
    
  }